<!DOCTYPE html>
<html lang="en">

<head>
   {% include 'head.html' %}
</head>

<body>
    <div class="wrapper">
        
        <!-- Sidebar  -->
        {% include 'sidebar.html' %}

        <!-- Page Content  -->
        <div id="content">
            <div class="title-content">
                <h1 class="title-bar">Home</h1>
            </div>
            <div class="isi-content text-center">
                <img src="{{ url_for('static', filename='images/logo_unnes.png')}}" class="rounded mx-auto" alt="logo_unnes">
                <h2>SKRIPSI</h2>
                <br>
                <h2>Penilaian Biji Kopi Menggunakan Metode <i>Stacking Regression</i> Serta Seleksi Fitur <i>Correlation Matrix</i>.</h2>

                <br>
                <br>

                <p><b>Rizqia Salsabila</b></p>
                <p><b>4611418048</b></p>
                <br>
                <br>
                <p><b>Prodi Teknik Informatika</b></p>
                <p><b>Jurusan Ilmu Komputer</b></p>
                <p><b>Fakultas Matematika dan Ilmu Pengetahuan Alam</b></p>
                <p><b>Universitas Negeri Semarang</b></p>

                <div class="line"></div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>