<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Penilaian<span>Biji Kopi</span></h3>
        <!-- <strong>DC</strong> -->
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/home" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-home mr-2"> </i>
                    Home
            </a>
        </li>
        <li>
            <a href="/upload">
                <i class="fas fa-chart-pie mr-2"> </i>
                    Upload Dataset
            </a>
        </li>
        <li>
        <li>
            <a href="/dataset">
                <i class="fas fa-database mr-2 ml-1"> </i>
                    Dataset
            </a>
        </li>
        <li>
            <a href="/preprocessing">
                <i class="fas fa-chart-pie mr-2"> </i>
                    Preprocessing
            </a>
        </li>
        <li>
            <a href="/accuration">
                <i class="fas fa-chart-line mr-2"> </i>
                    Accuration
            </a>
        </li>
        <li>
            <a href="/predict">
              <i class="fas fa-cogs mr-2"> </i>
                    Penilaian
            </a>
        </li>
    </ul>
</nav>